@model aplicatie_recrutari.Models.Workshop
@{
    ViewBag.Title = "Adauga un nou workshop";
}
<h2>Adauga un nou workshop</h2>

<form method="post" action="/Workshop/New">
    @Html.Label("Timestamp", "Timestamp")
    <br />
    @Html.TextBox("Timestamp", null, new { placeholder = "Type in the timestamp", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Timestamp, null, new { @class = "text-danger " })
    <br /><br />
    @Html.Label("DepartmentId1", "Nume departament 1:")
    <br />
    @Html.DropDownListFor(b => b.DepartmentId1, new SelectList(Model.AllDepartments, "Value", "Text"), "Choose a department", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.DepartmentId1, "", new { @class = "text-danger" })
    <br /><br />
    @Html.Label("DepartmentId2", "Nume departament 2:")
    <br />
    @Html.DropDownListFor(b => b.DepartmentId2, new SelectList(Model.AllDepartments, "Value", "Text"), "Choose a department", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.DepartmentId2, "", new { @class = "text-danger" })
    <br /><br />
    @Html.HiddenFor(b => b.SessionId)
    <br /><br />
    <button class="btn btn-sm btn-success" id="butona" type="submit">Adauga Workshop</button>
</form>
