@model aplicatie_recrutari.Models.Workshop
@{
    ViewBag.Title = "Add a new workshop";
}
<h2>Add a New Workshop</h2>

<form method="post" action="/Workshop/New">
    @Html.Label("Timestamp", "Timestamp")
    <br />
    @Html.TextBox("Timestamp", null, new { placeholder = "Type in the timestamp (forma 2020-04-05 12:00)", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Timestamp, null, new { @class = "text-danger " })
    <br /><br />
    @Html.Label("DepartmentId1", "DepartmentId1")
    <br />
    @Html.TextBox("DepartmentId1", null, new { placeholder = "Type in the DepartmentId1", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.DepartmentId1, null, new { @class = "text-danger " })
    <br /><br />
    @Html.Label("DepartmentId2", "DepartmentId2")
    <br />
    @Html.TextBox("DepartmentId2", null, new { placeholder = "Type in the DepartmentId2", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.DepartmentId2, null, new { @class = "text-danger " })
    <br /><br />
    @Html.Label("SessionId", "SessionId")
    <br />
    @Html.TextBox("SessionId", null, new { placeholder = "Type in the SessionId", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SessionId, null, new { @class = "text-danger " })
    <br /><br />
    <button class="btn btn-sm btn-success" id="butona" type="submit">Add Workshop</button>
</form>
