@model  aplicatie_recrutari.Models.Workshop
@{
    ViewBag.Title = "Displaying Workshop";
}
<h2>@ViewBag.Title</h2>
@Html.Label("Timestamp", "Timestamp:")
<br />
<p>@Model.Timestamp</p>

@Html.Label("Department1", "Department1:")
<br />
<p>@Model.Department1</p>

@Html.Label("Department2", "Department2:")
<br />
<p>@Model.Department2</p>

