@model  aplicatie_recrutari.Models.Workshop
@{
    ViewBag.Title = "Show";
}
<h2>@ViewBag.Title</h2>
@Html.Label("Timestamp", "Timestamp:")
<br />
<p>@Model.Timestamp</p>

@Html.Label("DepartmentId1", "DepartmentId1:")
<br />
<p>@Model.DepartmentId1</p>

@Html.Label("DepartmentId2", "DepartmentId2:")
<br />
<p>@Model.DepartmentId2</p>

@Html.Label("SessionId", "SessionId:")
<br />
<p>@Model.SessionId</p>