@model  aplicatie_recrutari.Models.Recruitment_Session
@{
    ViewBag.Title = "Afisare Sesiune";
}
<h2>@ViewBag.Title</h2>
<h3>@Html.Label("Period", "Session Period:")</h3>
<h4><strong>@Model.Period</strong></h4>
<h3>@Html.Label("Year", "Year:")</h3>
<h4><strong>@Model.Year</strong></h4>

@if (Model.Workshops.Count > 0)
{
    <h3>@Html.Label("Workshops", "Workshops:")</h3>
    <br />
    <ul>
        @{
            int counter1 = 1;

            foreach (var workshop in Model.Workshops) {
                <div class="box">
                    @*<p>Workshop number @workshop.WorkshopId from @workshop.Timestamp</p>*@
                    <p>Workshop number @counter1 from @workshop.Timestamp</p>
                    @{
                        counter1 = counter1 + 1;
                    }
                    <br /><br />
                    <a class="btn btn-success" id="buton" href="/Workshop/Show/@workshop.WorkshopId">Afisare Workshop</a>
                    <a class="btn btn-success" id="butona" href="/Workshop/Edit/@workshop.WorkshopId">Editeaza Workshop</a>

                    <form method="post" action="/Workshop/Delete/@workshop.WorkshopId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-danger" id="butond" type="submit">Stergere Workshop</button>
                    </form>
                    <br />
                </div>
                <br />
            }
        }
    </ul>

}
<br />

<a class="btn btn-primary" id="butona" href="/Workshop/New/@Model.SessionId">Add Workshop</a>
<br />
<hr />

@if (Model.Interviews.Count > 0) {
    <h3>@Html.Label("Interviews", "Interviews:")</h3>
    <br />
    <ul>
        @{
            int counter2 = 1;

            foreach (var interview in Model.Interviews) {
                <div class="box">
                    @*<p>Interview number @interview.InterviewId from @interview.Timestamp</p>*@
                    <p>Interview number @counter2 from @interview.Timestamp</p>
                    @{
                        counter2 = counter2 + 1;
                    }
                    <embed /><br />
                    <a class="btn btn-success" id="buton" href="/Interview/Show/@interview.InterviewId">Displaying Interview</a>
                    <a class="btn btn-success" id="butona" href="/Interview/Edit/@interview.InterviewId">Edit Interview</a>

                    <form method="post" action="/Interview/Delete/@interview.InterviewId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-danger" id="butond" type="submit">Delete Interview</button>
                    </form>
                    <br />
                </div>
                <br />
            }
        }
        </ul>
}
<br />
<a class="btn btn-primary" id="butona" href="/Interview/New/@Model.SessionId">Add Interview</a>
