@model aplicatie_recrutari.Models.Interview
@{
    ViewBag.Title = "Adauga nou interview";
}
<h2>Add a New Interview</h2>

<form method="post" action="/Interview/New">
    @Html.Label("Timestamp", "Timestamp")
    <br />
    @Html.TextBox("Timestamp", null, new { placeholder = "Type in the timestamp", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Timestamp, null, new { @class = "text-danger " })
    <br /><br />
    @Html.Label("ProfileId", "ProfileId")
    <br />
    @Html.TextBox("ProfileId", null, new { placeholder = "Type in the ProfileId", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ProfileId, null, new { @class = "text-danger " })
    <br /><br />
    @Html.Label("DepartmentId", "Nume departament:")
    <br />
    @Html.DropDownListFor(b => b.DepartmentId, new SelectList(Model.AllDepartments, "Value", "Text"), "Choose a department", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.DepartmentId, "", new { @class = "text-danger" })
    <br /><br />
    @Html.HiddenFor(b => b.SessionId)
    <br /><br />
    <button class="btn btn-sm btn-success" id="butona" type="submit">Adauga nou interview</button>
</form>
