@model  aplicatie_recrutari.Models.Interview
@{ ViewBag.Title = "Afisare interview"; }
<h2>@ViewBag.Title</h2>
<div class="box">
    @Html.Label("Timestamp", "Timestamp:")
    <br />
    <p>@Model.Timestamp</p>

    @Html.Label("departmentName", "Nume departament:")
    <br />
    <p>@ViewBag.departmentName</p>

    @Html.Label("candidateName", "Nume Candidat:")
    <br />
    <p>@ViewBag.candidateName</p>
</div>