@model  aplicatie_recrutari.Models.Interview
@{ ViewBag.Title = "Show"; }
<h2>@ViewBag.Title</h2>
@Html.Label("Timestamp", "Timestamp:")
<br />
<p>@Model.Timestamp</p>


@Html.Label("DepartmentId", "DepartmentId:")
<br />
<p>@Model.DepartmentId</p>

@Html.Label("LastName", "Nume Candidat:")
<br />
<p>@ViewBag.lastName</p>

@Html.Label("FirstName", "Prenume Candidat:")
<br />
<p>@ViewBag.firstName</p>