@model  aplicatie_recrutari.Models.Interview
@{
    ViewBag.Title = "Show";
}
<h2>@ViewBag.Title</h2>
@Html.Label("Timestamp", "Timestamp:")
<br />
<p>@Model.Timestamp</p>

@Html.Label("SessionId", "SessionId:")
<br />
<p>@Model.SessionId</p>

@Html.Label("DepartmentId", "DepartmentId:")
<br />
<p>@Model.DepartmentId</p>

@Html.Label("ProfileId", "ProfileId:")
<br />
<p>@Model.ProfileId</p>