@model  aplicatie_recrutari.Models.Interview
@{
    ViewBag.Title = "Show";
}
<h2>@ViewBag.Title</h2>
@Html.Label("Timestamp", "Timestamp:")
<br />
<p>@Model.Timestamp</p>


@Html.Label("Department", "Department:")
<br />
<p>@Model.Department</p>

@Html.Label("ProfileId", "ProfileId:")
<br />
<p>@Model.</p>