<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alatură-te echipei noastre</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (ViewBag.Title != "Afisare Sesiune" && ViewBag.Title !="Home Page")
    { 
        <div class="showcase">
            <h2>@ViewBag.Title</h2>
        </div>
    }
    else if (ViewBag.Title == "Afisare Sesiune" && ViewBag.Title != "Home Page")
    {
        <div class="showcase">
            <h3>@Html.Label("Period", "Perioada sesiunii:") &nbsp<strong>@Model.Period</strong></h3>
            <h3>@Html.Label("Year", "An:") &nbsp<strong>@Model.Year</strong></h3>
        </div>
    }



    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Media/logo.png" style="height:50px; width:50px; padding:5px;" />
                @Html.ActionLink("Recrutări", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Sesiuni", "Index", "Session")</li>
                        <li>@Html.ActionLink("Utilizatori", "Index", "Users")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            @if (ViewBag.Title == "Home Page")
            {
                <p style="color:white;position:fixed;bottom:0;left:50%;margin-left:-200px;">&copy; @DateTime.Now.Year - Asociația Studenților la Matematică și Informatică</p>
            }
            else if (ViewBag.Title != "Home Page")
            { <p style="position:relative;bottom:0;left:50%;margin-left:-200px;">&copy; @DateTime.Now.Year - Asociația Studenților la Matematică și Informatică</p>}
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
